.lang img{
    margin: 9px 9px;
    width: 30px;
    height: 20px;
}

.lang{
    position: absolute;
    background-color: black;
    width: 240px;
    height: 38px;
}
body>*{
    margin: auto;
}
h1{
    margin-bottom: 20px;
    margin-left: 33%;
}
div{
    display: flex;
    margin-bottom: 14px;
}
div:nth-of-type(4) label:nth-child(2),
div:nth-of-type(4) label:nth-child(3){
    width: 25%;
}
div label{
    align-self:center;
    width: 35%;
}
div:nth-of-type(6){
    flex-wrap: wrap;
    justify-content: flex-end;
}
div:nth-of-type(6)>*{
width: 65%;
}
div:nth-of-type(6)>:first-child{
    width: 35%;
}
form{
    width: 450px;
}

textarea{
    height: 80px;
}
[type="submit"]{
    font-weight: bold;
    height: 25px;
    margin-top:15px ;
    margin-left: 35%;
}