body{
    display: flex;
    flex-direction: column;
}
body>*{
    margin:5px auto;
}
.info>div{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}
span,ul,img{
    width: 80%;
}
label{
    width: 30%;
    color: gray;
}
.info{
    font-size: 22px;
}

ul{
    margin-top:0;
    margin-left: -40px;
    align-self: flex-end;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}
img{
    margin-left: 10%;
    height: 150px;
    width: 220px;
}
.info>div:last-of-type>label{
    align-self: center;
}

.lang{
    left: 90%;
    top:90%;
    font-size: 14px;
    position: absolute;
}